@font-face {
  font-family: mainTitle;
  src: url("/Users/tech-a46/Documents/engineering-9/Game/fonts/ka1.ttf");

}

.pacman{
  height: 45px;
  width: 45px;
  background-image: url("/Users/tech-a46/Documents/engineering-9/Game/pacman-eating.gif");
  display: inline-block;
  background-size: cover;
  background-color: black;
}

.wall{
  height: 45px;
  width: 45px;
  background-image: url("/Users/tech-a46/Documents/engineering-9/Game/wall.png");
  display: inline-block;
}

.coin{
height: 45px;
width: 45px;
background-image: url('/Users/tech-a46/Documents/engineering-9/Game/coin.png');
display: inline-block;
}

.ground{
  height: 45px;
  width: 45px;
  background-image: url('bg.png');
  display: inline-block;
}

.container{
  margin: auto;
  display: inline-block;
  margin-left: 420px;
}

body{
  background-image: url("/Users/tech-a46/Documents/engineering-9/Game/newBackground.jpg");
}

header{
  color: white;
  margin-bottom: 40px;

}

h3{
  font-family: mainTitle;
  color: white;
  font-size: 35px;
  background-color: grey;

}

h2{
  font-family: mainTitle;
  position: relative;
  color: white;
}

h1{
  font-family: mainTitle;
color: white;
background-color: grey;
}

div{
  line-height: 0px;
}

.col-md-3{
  background-color: white;
}
